mat-card{
    width: 50%;
    height: 400px;
    background-color: burlywood;
    color: khaki;
}

.card{
  display: flex;
  justify-content: space-around;
  width: 200px;
  height: 200px;
}

.content , .img{
  width: 100%;
  height: 500px;
}
.content , .img:hover{
  transform: scale(1.02);
}

.row{
  display: flex;

}


mat-card:hover {
  transform: scale(1.02);
  background-color: burlywood;
  color: khaki;
}


.card-container {
  width: 100%;
}
.menWomen{
  height: 550px;
  border-radius: 10px;

}

.card {
  width: 350px;
  height: 500px;
  margin-right: 16px; 
  margin-left: 25px;
  margin-top: 50px;
  float: left;
  display: flex; 
  box-shadow: rgba(0, 0, 0, 0.19)
}

.img1{
  width: 100%;
  height: 100%;
  /* margin-left: 25px; */
  
}

.button{
  background-color: cadetblue;
  border: none;
  width: 100px;
  display: flex;
  float: left;
  color: white;
  font-size: 14px;
  transition: all .3s ease;
  margin-left: 10px;
}
.button:hover{
  transform: scale(1.05);
}

#p{
  margin-left: 10px;
  margin-top: -8px;
}

@media screen and (max-width: 768px){
  .card{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    margin-top: 10px;
  }
  #p{
    margin-left: 0;
    margin-top: 10px;
  }
  .img1{
    width: 90%;
    height: auto;
    margin-right: 0;
  }
  .img2{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
  }
  .button{
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
  }
}

.card {
    position: relative;
    overflow: hidden;
} 

.img1 {

    width: 100%;
    height: 100%;
    
}

.cart-details {
    display: none;
    position: absolute;
  
    margin-top: 220%;
    width: 100%;
    height: 100%;
    background-color: #f2f2f299; 
    color:rgb(42, 102, 104); 
    text-align: center;
  
    box-sizing: border-box;
}

.card:hover .cart-details {
    display: block;
}

.btn{
  /* margin-top:  20%; */
  margin-inline: 20px;
  color: white;
}

