


    <div class="content"></div>
    

         
<div class="row">
    <mat-card class="card1" (click)="onClickWomenClothes()">
        <mat-card-header>women</mat-card-header>
    
    </mat-card>
    <mat-card class="card2" (click)="onClickMenClothes()">
        <mat-card-header>men</mat-card-header>
    </mat-card>
</div>
<div class="container" *ngIf="showWomenClothes">
<div class="row">
    <div class="col-md-3">

    <mat-card class="card" id="w1">
        <!-- <img src="assets/womenFashion.jpg" alt="" style="background-color: red;"> -->
        <mat-card-header>women</mat-card-header>
    </mat-card>
    <mat-card class="card" id="w2">
        <mat-card-header>women</mat-card-header>
    </mat-card>
     <mat-card class="card" id="w3">
        <mat-card-header>women</mat-card-header>
    </mat-card>
    <mat-card class="card" id="w4">
        <mat-card-header>women</mat-card-header>
    </mat-card>
    <mat-card class="card" id="w5">
        <mat-card-header>women</mat-card-header>
    </mat-card>
    <mat-card class="card" id="w6">
        <mat-card-header>women</mat-card-header>
    </mat-card>
    <mat-card class="card" id="w7">
        <mat-card-header>women</mat-card-header>
    </mat-card>
    <mat-card class="card" id="w8">
        <mat-card-header>women</mat-card-header>
    </mat-card>
    <mat-card class="card" id="w9">
        <mat-card-header>women</mat-card-header>
    </mat-card>
    <mat-card class="card" id="w10">
        <mat-card-header>women</mat-card-header>
    </mat-card>
</div>
</div>
</div>



<div class="container" *ngIf="showMenClothes">
    <div class="row">
        <div class="col-md-3">
        <mat-card class="card" id="m1">
            <mat-card-header>men</mat-card-header>
        
        </mat-card>
        <mat-card class="card"id="m2">
            <mat-card-header>men</mat-card-header>
        </mat-card>
         <mat-card class="card" id="m3">
            <mat-card-header>men</mat-card-header>
        </mat-card>
        <mat-card class="card" id="m4">
            <mat-card-header>men</mat-card-header>
        </mat-card>
        <mat-card class="card" id="m5">
            <mat-card-header>men</mat-card-header>
        </mat-card>
        <mat-card class="card" id="m6">
            <mat-card-header>men</mat-card-header>
        </mat-card>
        <mat-card class="card" id="m7">
            <mat-card-header>men</mat-card-header>
        </mat-card>
        <mat-card class="card" id="m8">
            <mat-card-header>men</mat-card-header>
        </mat-card>
        <mat-card class="card" id="m9">
            <mat-card-header>men</mat-card-header>
        </mat-card>
        <mat-card class="card" id="m10">
            <mat-card-header>men</mat-card-header>
        </mat-card>
    </div>
    </div>
</div>

