<div class="row">
    <div class="col-md-3">

<mat-card class="card">
    <img src="assets/men/men4.jpg" alt="Card image cap" mat-card-image>
  <mat-card-content>

    </mat-card-content>
  

</mat-card>
<mat-card class="card">

    <h2>Kapele</h2><br>
    <mat-label>Chose color</mat-label>
    <mat-select>
        <mat-option value="valid">white</mat-option>
        <mat-option value="valid">Black</mat-option>
        <mat-option value="valid">Green</mat-option>
      </mat-select>

    <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">XS</mat-radio-button>
        <mat-radio-button value="2">S</mat-radio-button>
        <mat-radio-button value="3">M</mat-radio-button>
        <mat-radio-button value="4">L</mat-radio-button>
        <mat-radio-button value="5">XL</mat-radio-button>
        <mat-radio-button value="6">XXL</mat-radio-button>


      </mat-radio-group>
<div class="content">
      <input type="number"  class="num">
      <button type="button" class="btn">ADD TO CART</button>
    </div>
</mat-card>
</div>
</div>
