<div class="row">
    <div class="col-md-3">

<mat-card class="card">
    <img src="assets/men/men4.jpg" alt="Card image cap" mat-card-image>
  <mat-card-content>

    </mat-card-content>
  

</mat-card>
<mat-card class="card">
    

<select class="product-variants" id="producu-size" style="display: none;">
    <option value="XS">XS</option>
    <option value="S">S</option>
    <option value="M">M</option>
    <option value="L">L</option>
    <option value="XL">XL</option>
    <option value="XXL">XXL</option>
    
    
    </select>

    <li tabindex="0" data-text="XS" class="active">
        <span>XS</span>
    </li>
    
    <li tabindex="0" data-text="S" class="active">
        <span>S</span>
    </li>
    
    <li tabindex="0" data-text="M" class="active">
        <span>M</span>
    </li>
    
    <li tabindex="0" data-text="L" class="active">
        <span>L</span>
    </li>
    
    <li tabindex="0" data-text="XL" class="active">
        <span>XL</span>
    </li>
    
    <li tabindex="0" data-text="XXL" class="active">
        <span>XXL</span>
    </li>

</mat-card>
</div>
</div>
