  <nav class="navbar fixed-top navbar-light bg-light" *ngIf="ShowHeader">
    <a  class="btn"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasExample"
    aria-controls="offcanvasExample">
    ☰
  </a>
      <div class="header bg-light">
        <a href="cart" class="notification">
          <span>Cart</span>
          <span *ngIf="addProductToCart" class="badge">+</span>
          </a>
        <a href="#contact">Contact</a>
        <a href="login">Log In / SignUp</a>
      </div>
  </nav>

  <div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
  
>
<a class="sidebar" href="Eltistore">Home</a>
<a class="sidebar" href="cart">CART</a>
<a class="sidebar" href="Dashboard" >Dashboard</a>
<a class="sidebar" href="about">About us</a>


</div>

<router-outlet></router-outlet>

